body {
    overflow: hidden;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#player {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#debugMenu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    z-index: 98;
    width: 100%;
    color:white;
}

.debugOpt {
    margin-top: 1%;
}

#debugHover {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    padding-right: 0.5%;
    right: 0;
    height: 100%;
    z-index: 98;
    width: 15%;
    color:white;
}

#debugHover:hover > #debugMenu {
    display: flex;
}

#startMenu {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 99;
    margin-right: 0%;
    width: 100%;
    color:white;
}

.startOpt {
    margin-left: 1.5%;
    align-self:center;
}

#counter {
    font-size: 60px;
}
